@import url("https://fonts.googleapis.com/css2?family=Jersey+15&display=swap");

.posterExample {
  max-height: 700px;
}

body {
  /* background-image: url(../../../public/background3.jpg) 0; */
}

.HomeContainer {
  background: radial-gradient(circle, rgba(0, 0, 0, 0.7) 20%, transparent 80%),
    url(../../assets/sfd-characters-banner.jpg) center/cover;

  height: 600px;
}

.jerseyFont {
  font-family: "Jersey 15", sans-serif;
}
