.likeButton{
    background-color: rgba(255, 252, 252, 0.1);
    border-color: rgba(250, 250, 250, 0.253);
}
.likeButton i:nth-of-type(1):hover{
    color: #0d6efd !important;
}
.likeButton i:nth-of-type(2):hover{
    color: #dc3545 !important;
}
.ActBtn {
    background-color: rgba(255, 252, 252, 0.1);
    border-color: rgba(250, 250, 250, 0.253);
}